* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 24rem;
  background-color: #f3eee8;
  position: fixed;
  top: 0;                
  z-index: 1000; 
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nav-links > li > a{
  cursor: pointer;
  color: #4a2e2a;
  font-weight: 500;
  font-family: inter;
  text-decoration: none;
}

.nav-links > li :hover {
  color: #c75a1b;
}

#cardapio > a{
  color: #c75a1b;
  text-decoration: underline #c75a1b;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px; 
}

#login > a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.nav-logo > img {
  width: 2.5rem;
}

.nav-button {
  cursor: pointer;
  border-radius: 10px;
  background-color: #c75a1b;
  padding: 10px;
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-button:hover {
  background-color: #c28766;
}

.nav-button > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: inter;
  
}



main {
  margin-top: 5.5rem;
  background-color: #faf7f2;
  padding-bottom: 2rem;
}



.title-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 2rem;
}

.title-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
}

.title-text-container-title {
  font-size: 3rem;
  font-family: playfair;
  color: #4a2e2a;
  text-align: left;
  font-weight: 500;
}

.title-text-container-icon {
  width: 5rem;
  height: 2rem;
  background-color: #c75a1b;
  border-radius: 1rem;
}

.title-text-p {
  font-size: 1rem;
  font-family: inter;
  color: #4a2e2a;
  text-align: left;
  font-weight: 400;
}



.filter{
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.filter-icon{
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #4a2e2a;
}

.filter-option{
  background-color: white;
  border-radius: 10rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color:#4a2e2a;
  font-size: 0.9rem;
  font-family: inter;
  font-weight: 600;
  border:rgba(0, 0, 0, 0.1) solid 1px;
}

#todos{
  background-color: #c75a1b;
  color: white;
  border: none;
}







.cardapio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}


.cardapio-produtos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 67.5%;
  gap: 1.5rem;
  margin-left: 2rem;
}

.cardapio-produtos-card{
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  width: 17.5rem;
  height: 25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardapio-produtos-card-img{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  position: relative;
}

.cardapio-produtos-card-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.cardapio-produtos-card-img > p{
  position: absolute;
  top: 1rem;
  right: 1rem;
  align-self: flex-start;
  color: white;
  font-family: inter;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: #c75a1b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10rem;
}

.cardapio-produtos-card-produto{
  font-family: playfair;
  font-weight: 500;
  font-size: 1.4rem;
  color: #4a2e2a;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 85%;
}

.cardapio-produtos-card-preco{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.cardapio-produtos-card-preco > p{
  font-family: inter;
  font-weight: 700;
  font-size: 1.5rem;
  color:#c75a1b;
  text-align: left;
}

.cardapio-produtos-card-preco > button{
  background-image: linear-gradient(105deg,rgb(199, 90, 27) 0%, rgb(169,113,66) 100%);
  border-radius: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color:white;
  font-size: 0.9rem;
  font-family: inter;
  font-weight: 600;
  border: none;
}

.cardapio-pedido {
  margin-right: 0.75rem;
  width: 40%;
  height: 237rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.cardapio-pedido-card{
  width: 85%;
  height: 25rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 10rem;
}

.cardapio-pedido-card-title{  
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 90%;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(74, 46, 42, 0.2);
}

.cardapio-pedido-card-title-icon{
  width: 2.5rem;
  height: 2.5rem;
  background-color: #c75a1b;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: white;
}

.cardapio-pedido-card-title-titulo{
  font-size: 1.5rem;
  font-family: playfair;
  color: #4a2e2a;
  text-align: left;
  font-weight: 525;
}

.cardapio-pedido-card-info{
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cardapio-pedido-card-info-icon{
  background-color:#f3ede6;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #c6a75e;
  margin-bottom: 0.5rem;
}

.cardapio-pedido-card-info-titulo{
  font-size: 1rem;
  font-family: inter;
  color: #4a2e2a;
  text-align: center;
  font-weight: 500;
}

.cardapio-pedido-card-info-p{
  font-size: 0.75rem;
  font-family: inter;
  color: #4a2e2a;
  text-align: center;
  font-weight: 300;
}

.nav-mobile{
  display: none;
}

/* mobile */
@media (min-width: 320px) and (max-width: 430px) {
  /* barra de navegacao e parte principal */

  * {
    overflow-x: hidden;
  }

  .nav-pc {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .nav-mobile .nav-mobile-links {
    display: none;
  }

  .cardapio-pedido{
    display: none;
  }

  .filter{
    display: grid;
    width: 80%;
  }

  .cardapio-produtos{
    width: 150%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 3rem;
  }
}